
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <title>
  
    {% block title %}{% endblock %}
  

        </title>
        <link href="/static/css/base.css" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">

    
    
        <script src="/static/js/webcomponents/webcomponents-loader.js"></script>
        <link rel="import" href="/static/scipion-workflow.html">
<!-- links the web component code -->
        <script src='https://www.google.com/recaptcha/api.js'></script>

  
<script>
  function miFuncion() {
    var response = grecaptcha.getResponse();

    if(response.length == 0){
      alert("Captcha no verificado");
      return false;
    } else {
      return true;
    }
  }
</script>
</head>
<body>
    <div id="header">
        
        <a href="/find/" class="logo">Place a logo here</a>
        <a href="/find/help/" class="help">Help</a>
        
    </div>
    <div id="subheader">
        
         <div class="search">
                <form action="/find/workflow_search/" method="post">
                      Search Workflow <input type="text" name="key" maxlength="128">
                    {% csrf_token %}
                    <input type="submit" name="byName" value="by Name">
                </form>
        </div>
        
    </div>
    <div id="contentTop"> 
        </div>
   {% block content %}{% endblock %}
    

        <footer id="footer" class="footerStyle">
        This is the footer
        </footer>

    

</body>
</html>
