{% extends 'find/base.html' %}

{% load staticfiles %}

{% block title %}{{ workflow.name }}{% endblock %}

{% block content %}
    <div id="content">


<div class="pure-g">
    
      <div class="pure-u-2-5">
       <scipion-workflow
            src="/upload/workflow_download_json/{{ workflow.slug }}/"
            height="400px" width="95%">
        </scipion-workflow>
      </div>

      <div class="pure-u-3-5">
        <h1>{{ workflow.name }}</h1>

        <h2>
            {% for category in categories %}
                <a href="/find/workflow_list/{{ category.slug }}/">{{ category.name }}</a>&nbsp;
            {% endfor %}        
        </h2>

        <span style="font-weight:bold"> KeyWords: </span> {{ workflow.keywords }}<p></p>
        <span style="font-weight:bold"> Description: </span>{{ workflow.description }}
        <p></p>
        <form action="/upload/workflow_download/1/{{ workflow.slug }}/" method="post" onsubmit="return miFuncion()">
            {% csrf_token %}
            <div class="g-recaptcha" data-sitekey="6LfwDnwUAAAAAH4BOLLRkEmHnWZTFddl-ST9qRJw"></div><br>
           <input type="submit" value="Download" >
        </form>

      </div>
    

</div>


    </div>
    {% endblock %}